<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="/files/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/files/css/top.css">
    <script type="text/javascript" src="/files/js/jquery.min.js"></script>
    <script type="text/javascript" src="/files/js/top.js"></script>
</head>
<body>
<div class="header">
    <p>
        后台管理应用
    </p>
    <div class="menu">
        <a href="/admin">
            <span>首页</span>
        </a>
        <a href="/admin/users">
            <span>用户管理</span>
        </a>
    </div>
</div>
</body>
</html>