<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理员登录</title>
    <link rel="stylesheet" type="text/css" href="/files/css/login.css">
    <link rel="stylesheet" type="text/css" href="/files/css/reset.css">
    <script type="text/javascript" src="/files/js/jquery.min.js"></script>
    <script type="text/javascript" src="/files/js/login.js"></script>
</head>
<body>
<div class="login_container">
    <div class="title f20">后台管理</div>
    <div class="username_div login_input_container">
        <img src="/files/img/user_icon.png">
        <input type="text" autofocus="autofocus" name="username"/>
    </div>
    <div class="password_div login_input_container">
        <img src="/files/img/password_icon.png">
        <input type="password" name="password">
    </div>
    <div class="login_button">登录</div>
</div>
</body>
</html>